@using Quick.Blazor.Bootstrap
@using Glash.Blazor.Agent.Pages

<Tabs>
    <TabPane Key="Profile">
        <Tab>配置</Tab>
        <ChildContent>
            <div class="card" style="border-top: none;border-top-left-radius: 0;border-top-right-radius: 0;">
                <div class="card-body">
                    <ProfileManage></ProfileManage>
                </div>
            </div>
        </ChildContent>
    </TabPane>
</Tabs>
