@using System.Net.Sockets
@using System.Net.NetworkInformation
@using YiQiDong.Components.Controls

<ToastStack @ref="toastStack" />

<ConfigFilesControl ConfigFiles="@networkConfigFiles">
    <ToolbarAddonButtons>
        <div class="input-group input-group-sm mb-1">
            <button type="button" class="btn btn-sm btn-secondary mr-1" @onclick="restartNetworkService">
                <i class="fa fa-refresh" aria-hidden="true"></i> 重启服务
            </button>
            <button type="button" class="btn btn-sm btn-secondary mr-1" @onclick="help">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i> 帮助
            </button>
        </div>
    </ToolbarAddonButtons>
</ConfigFilesControl>

<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />
<ModalWindow @ref="modalWindow" DialogSizeExtraLarge="true" DialogCentered="false" />