<div class="modal-body">
    <Tabs NavTabsExtraClass="mb-2">
        <TabPane Key="config">
            <Tab>配置</Tab>
            <ChildContent>
                <EditForm Model="@this">
                    <div class="form-group">
                        <InputTextArea class="form-control" rows="15" @bind-Value="Content" />
                    </div>
                    <div class="btn-toolbar mb-1">
                        <div class="input-group mb-1 ml-2">
                            <button type="button" class="btn btn-secondary" @onclick="Save">保存</button>
                        </div>
                    </div>
                </EditForm>
            </ChildContent>
        </TabPane>
        <TabPane Key="2">
            <Tab>示例</Tab>
            <ChildContent>
                <h4>禁止任何连接</h4>
                <label>一般来说下面其他的规则需要搭配此规则</label>
                <pre>:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]</pre>
                <h4>允许连接TCP：22端口</h4>
                <pre>-A INPUT -p tcp --dport 22 -j ACCEPT
-A OUTPUT -p tcp --sport 22 -j ACCEPT</pre>
                <h4>允许指定IP地址连接TCP：22端口</h4>
                <pre>-A INPUT -s 192.168.31.193 -p tcp --dport 22 -j ACCEPT
-A OUTPUT -d 192.168.31.193 -p tcp --sport 22 -j ACCEPT</pre>
                <h4>允许Ping</h4>
                <pre>-A INPUT -p icmp -j ACCEPT
-A OUTPUT -p icmp -j ACCEPT</pre>
            </ChildContent>
        </TabPane>
    </Tabs>

</div>
<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />