<div class="modal-body">
    <Tabs NavTabsExtraClass="mb-2">
        <TabPane Key="config">
            <Tab>配置</Tab>
            <ChildContent>
                @if (hasIptables)
                {
                    <span class="badge badge-pill badge-success mb-2">版本：@iptablesVersion</span>
                    <EditForm Model="@this">
                        <div class="form-group">
                            <InputTextArea class="form-control" rows="15" @bind-Value="Content" />
                        </div>
                        <div class="btn-toolbar mb-1">
                            <div class="input-group mb-1 ml-2">
                                <button type="button" class="btn btn-secondary" @onclick="Save">保存</button>
                            </div>
                        </div>
                    </EditForm>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">iptables错误</h4>
                        <p>@iptablesVersion</p>
                    </div>
                }
            </ChildContent>
        </TabPane>
        <TabPane Key="2">
            <Tab>示例</Tab>
            <ChildContent>
                <pre># 操作filter表
*filter

# 启用防火墙，禁止任何连接
:INPUT DROP [0:0]
:OUTPUT DROP [0:0]

# 允许连接TCP：22端口
-A INPUT -p tcp --dport 22 -j ACCEPT
-A OUTPUT -p tcp --sport 22 -j ACCEPT

# 允许指定IP地址连接TCP：22端口
-A INPUT -s 192.168.31.193 -p tcp --dport 22 -j ACCEPT
-A OUTPUT -d 192.168.31.193 -p tcp --sport 22 -j ACCEPT

# 允许连接UDP：8000端口
-A INPUT -p udp --dport 8000 -j ACCEPT
-A OUTPUT -p udp --sport 8000 -j ACCEPT

# 允许Ping
-A INPUT -p icmp -j ACCEPT
-A OUTPUT -p icmp -j ACCEPT

# 提交规则
COMMIT</pre>
            </ChildContent>
        </TabPane>
        <TabPane Key="3">
            <Tab>帮助</Tab>
            <ChildContent>
                <h4>清空全部规则，允许任何连接</h4>
                <label>如果由于配置失误，无法访问弈启动了。可能通过Console口连接或者连接显示器、键盘执行下面的指令。</label>
                <pre>iptables -F #清空默认表 (filter) 的所有规则
iptables -P INPUT ACCEPT #设置INPUT链默认接受
iptables -P FORWARD ACCEPT #设置FORWARD链默认接受
iptables -P OUTPUT ACCEPT #设置OUTPUT链默认接受</pre>
            </ChildContent>
        </TabPane>
    </Tabs>

</div>
<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />