<ModalAlert @ref="modalAlert" />
<ModalPrompt @ref="modalPrompt" />

<div class="row">
    <div class="col-12">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" @onclick="CreateTag">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    新建
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var t in Core.TagManager.Instance.GetTags())
    {
        <div class="col-xl-2 col-md-4 col-sm-6 mt-2">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-tag mr-1" aria-hidden="true"></i>@t
                </div>
                <div class="card-footer p-1">
                    <div class="btn-group">
                        <button type="button" title="删除" class="btn btn-sm btn-secondary" @onclick="@(e=>DeleteTag(t))">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>